.color{background-color: black; }

.Browser{color: blue;font-family: 'Lato', sans-serif;
    font-family: 'Sigmar One', cursive; text-align: center;}

    .icon1{color: blue; border: #424bf5 2px solid; width: 200px; height: 200px; border-radius: 25%; background-color: blue; margin-left: 200px; z-index: 5;}

    .link{ color: white; z-index: 50px; width: 150px;font-family: 'Lato', sans-serif;
        font-family: 'Sigmar One', cursive; padding: 40px;}

        .icon2{color: #f54242; border: #f55a42 2px solid; width: 200px; height: 200px; border-radius: 25%; background-color: #f54242;  z-index: 5; margin-left: 300px; margin-top: -190px;}

        .custom{ color: white; z-index: 50px; width: 150px;font-family: 'Lato', sans-serif;
            font-family: 'Sigmar One', cursive; padding: 40px; padding-top: 20px;}