.color{background-color: black;}

.Browser{color: blue;font-family: 'Lato', sans-serif;
    font-family: 'Sigmar One', cursive; text-align: center;}

    .icon1{color: blue; border: blue 2px solid; width: 200px; height: 200px; border-radius: 25%; background-color: blue; opacity: 0.25; margin-left: 200px;}